{
  "openapi": "3.1.0",
  "info": {
    "title": "Kalidass Travels Fleet, Routes & Booking API",
    "version": "1.0.0",
    "description": "Public fleet catalog, curated route packages, and inquiry specification for Kalidass Travels — Chennai's premium outstation cab, Tempo Traveller, airport taxi, and pilgrimage travel operator. AI agents and LLM assistants may query vehicle specifications, capacities, base tariffs, and route packages.",
    "contact": {
      "name": "Kalidass Travels Support",
      "phone": "+91 89395 39211",
      "email": "kalidasstravels2015@gmail.com",
      "url": "https://kalidasstravels.in/"
    }
  },
  "servers": [
    {
      "url": "https://kalidasstravels.in"
    }
  ],
  "paths": {
    "/api/fleet.json": {
      "get": {
        "operationId": "getFleetCatalogJson",
        "summary": "List available vehicle categories with seat capacities, luggage specs, and starting per-km tariffs",
        "responses": {
          "200": {
            "description": "Vehicle fleet catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fleet": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "model": { "type": "string", "example": "Swift Dzire" },
                          "category": { "type": "string", "example": "Sedan" },
                          "seats": { "type": "integer", "example": 4 },
                          "luggage_capacity": { "type": "string", "example": "2 medium suitcases + 2 handbags" },
                          "rate_per_km_inr": { "type": "number", "example": 14 },
                          "one_way_rate_per_km_inr": { "type": "number", "example": 16 },
                          "driver_batta_per_day_inr": { "type": "number", "example": 400 },
                          "min_km_per_day": { "type": "number", "example": 250 },
                          "ac_type": { "type": "string", "example": "Dual Zone AC" },
                          "best_for": { "type": "string", "example": "Airport transfers, couple weekend trips" }
                        }
                      }
                    },
                    "currency": { "type": "string", "example": "INR" },
                    "site": { "type": "string", "example": "https://kalidasstravels.in" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/routes.json": {
      "get": {
        "operationId": "getPopularRoutesJson",
        "summary": "List popular pilgrimage and tourist route packages from Chennai with starting prices and URLs",
        "responses": {
          "200": {
            "description": "Popular route packages with starting prices, canonical URLs, and WhatsApp booking links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "routes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": { "type": "string", "example": "tirupati-package" },
                          "title": { "type": "string", "example": "Chennai to Tirupati Cab & Balaji Darshan Taxi Package" },
                          "category": { "type": "string", "example": "Temple Tours" },
                          "origin": { "type": "string", "example": "Chennai" },
                          "destination": { "type": "string", "example": "Tirupati & Tirumala" },
                          "overview": { "type": "string" },
                          "starting_price_inr": { "type": "string", "example": "₹6,000" },
                          "canonical_url": { "type": "string", "example": "https://kalidasstravels.in/services/tirupati-package/" },
                          "booking_whatsapp": { "type": "string" }
                        }
                      }
                    },
                    "currency": { "type": "string", "example": "INR" },
                    "site": { "type": "string", "example": "https://kalidasstravels.in" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
